.profile-button {
  cursor: pointer;
  border: 1px solid var(--mantine-color-gray-1);
  border-radius: 0.5rem;
  padding: 0.4rem 0.75rem;
}
.profile-button:hover {
  background-color: var(--mantine-color-gray-0);
}
